<div class="container">
  <h3 class="grey-text text-darken-3 center-align">Primer Mascota</h3>

  <div class="row">
    <div class="col s12 m9 center-block">
      <div class="card card-pet">
        <div class="card-content black-text text-darken-4" [hidden]="!visualization">
          <h4 class="center-align">{{data['name']}}</h4>
          <div class="row mt-1 mb-0">
            <div class="col s12 mb-1">
              <img class="materialboxed img-template" src="assets/{{data['photo']}}">
            </div>
            <div class="col s12">{{data['description']}}</div>
          </div>
        </div>
        <div class="card-content" [hidden]="visualization">
          <div class="row mt-1 mb-0">
            <div class="col s12 l8 mb-1 input-field center-block">
              <input id="namePet" type="text" class="validate" value="{{data['name']}}">
              <label class="active" for="namePet">Nombre</label>
            </div>
            <div class="col s12 l8 mb-1 center-block">
              <form class="dropzone dropzone-card" id="dropzone-img-pet">
                <div class="dz-default dz-message">
                  <img class="responsive-img" src="assets/{{data['photo']}}">
                </div>
              </form>
            </div>
            <div class="col s12 center-block input-field mt-1">
              <textarea id="descriptionPet" class="materialize-textarea validate" value="{{data['description']}}"></textarea>
              <label class="active" for="descriptionPet">Descricpión</label>
            </div>
          </div>
        </div>
        <div class="card-action right-align">
          <ng-template #buttonsEdition>
            <button class="btn red darken-4 waves-effect waves-light" (click)="visualization = true">Cancelar</button>
            <button class="btn purple darken-4 waves-effect waves-light">Guardar</button>
          </ng-template>
          <button *ngIf="visualization; else buttonsEdition" class="btn purple darken-4 waves-effect waves-light" (click)="visualization = false">Editar</button>
        </div>
      </div>
    </div>
  </div>

</div>
