<div class="container-login" [ngClass]="{'no-absolute': newUser}">
  <div class="login-container">
    <div class="row">
      <h2 class="col s12 white-text center-align">Dreamin</h2>
      <ng-container *ngIf="newUser; else loginUser">
        <div class="col s12">
          <form class="dropzone dropzone-login" id="dropzone-img-profile">
            <div class="dz-default dz-message">
              <i class="material-icons">person</i>
            </div>
          </form>
        </div>
        <div class="input-field col s12">
          <input id="username" type="text" class="validate">
          <label for="username">Nombre de usuario o correo</label>
        </div>
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Contraseña</label>
        </div>
        <div class="input-field col s12">
          <input id="repeat-password" type="password" class="validate">
          <label for="repeat-password">Repetir Contraseña</label>
        </div>
        <div class="input-field col s12">
          <select>
            <option value="1">Usuario</option>
            <option value="2">Patrocinador</option>
            <option value="3">Impulsador</option>
          </select>
          <label>Perfil</label>
        </div>
        <div class="input-field col s12">
          <textarea id="description" class="materialize-textarea"></textarea>
          <label for="description">Descripción</label>
        </div>
        <div class="col s12 center-align mt-1">
          <a class="waves-effect waves-light btn grey btn-custom" (click)="newUser = false">Ingresar</a>
        </div>
      </ng-container>

      <ng-template #loginUser>
        <div class="input-field col s12">
          <input id="username" type="text" class="validate" #username>
          <label for="username">Nombre de usuario o correo</label>
        </div>
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" #password>
          <label for="password">Contraseña</label>
        </div>
        <div class="col s12 red-text text-accent-2">{{messageError}}</div>
        <div class="col s12 center-align mt-1">
          <a class="waves-effect waves-light btn grey btn-custom" (click)="access(username.value, password.value)">Ingresar</a>
          <a class="waves-effect waves-light btn grey btn-custom" (click)="showFormRegister()">Registrate</a>
        </div>
      </ng-template>
    </div>
  </div>
</div>
