$primary-color-dark:   #512DA8 !default;
$primary-color:        #673AB7 !default;
$primary-color-light:  #D1C4E9 !default;
$primary-color-text:   #FFFFFF !default;
$accent-color:         #9E9E9E !default;
$primary-text-color:   #212121 !default;
$secondary-text-color: #757575 !default;
$divider-color:        #BDBDBD !default;
