@import "../node_modules/materialize-css/dist/css/materialize.css";
@import "./app/scss/_variables";

body {
  background-color: lighten($divider-color, 20%);
}
.pointer {
  cursor: pointer;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-0 {
  margin-bottom: 0;
}
.menu-custom {
  width: 16rem !important;

  .material-icons {
    margin-right: .2rem;
  }
}
.bg-primary {
  background-color: $primary-color;
}
.dropdown-content li > a, .dropdown-content li > span {
  color: $primary-text-color;
}
.indicator-circle {
  border: 1pt solid $primary-text-color;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-top: .5rem;
}
.m-auto {
  margin: auto;
}
.card .card-content {
  padding: 14px 24px;
}

/* Init override styles of Materialize */
.input-field {
  label {
    color: $primary-color;
  }
  input[type=text]:focus + label, input[type=password]:focus + label, .materialize-textarea + label{
    color: $primary-color;
  }
  input[type=text]:focus, input[type=password]:focus, .materialize-textarea:focus {
    border-bottom: 1px solid $primary-color;
    box-shadow: 0 1px 0 0 $primary-color;
  }
  input, .materialize-textarea {
    color: $primary-color;
  }
  .prefix.active {
    color: $primary-color;
  }
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 0 0 $primary-color;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: $primary-color;
}
/* End override */
