@import "../node_modules/materialize-css/dist/css/materialize.css";
@import "./app/scss/_variables";

body {
  background-color: lighten($primary-color-light, 15%);
}
.pointer {
  cursor: pointer;
}
.mt-1 {
  margin-top: 1rem;
}
.menu-custom {
  width: 16rem !important;

  .material-icons {
    margin-right: .2rem;
  }
}
