<div class="container">

  <div class="row">
    <h3 class="col s12 m8 grey-text text-darken-2">Dreamers</h3>

    <div class="input-search col s12 m4 mt-1">
      <a class='dropdown-button btn purple darken-4' data-activates='dropdownSearch'>
        <i class="material-icons">filter_list</i>
      </a>
      <input type="text" placeholder="Buscar...">
      <!-- Dropdown Structure -->
      <ul id='dropdownSearch' class='dropdown-content'>
        <li><a>Intereses</a></li>
        <li><a>Habilidades</a></li>
        <li><a>Modalidades</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://us.123rf.com/450wm/kakigori/kakigori1403/kakigori140300004/26550331-pretty-young-hipster-style-mother-with-glasses-holding-and-hugging-her-cute-little-baby-daughter-lau.jpg?ver=6">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Username
            <div class="indicator-circle right yellow accent-3 z-depth-3 tooltipped" data-position="bottom" data-tooltip="Crowdfunding"></div>
          </span>
        </div>
        <div class="card-action">
          <button class="btn purple darken-4 waves-effect waves-light">Ver más</button>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Username
            <i class="material-icons right">close</i>
          </span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://wfarm2.dataknet.com/static/resources/icons/set3/c9f1cdf473a8.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Username
              <div class="indicator-circle right teal z-depth-3 tooltipped" data-position="bottom" data-tooltip="Trueque"></div>
          </span>
        </div>
        <div class="card-action">
          <button class="btn purple darken-4 waves-effect waves-light">Ver más</button>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Username
            <i class="material-icons right">close</i>
          </span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_beanie_girl-512.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Username
              <div class="indicator-circle right deep-orange darken-4 z-depth-3 tooltipped" data-position="bottom" data-tooltip="Colaborativa"></div>
          </span>
        </div>
        <div class="card-action">
          <button class="btn purple darken-4 waves-effect waves-light">Ver más</button>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Username
            <i class="material-icons right">close</i>
          </span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>

  </div>
</div>
