@import '../scss/_variables';

.input-search {
  .btn {
    padding: 0 .5rem;
  }
  input {
    width: calc(100% - 2.6rem) !important;

    &:focus {
      border-bottom: 1px solid $primary-color !important;
      box-shadow: 0 1px 0 0 $primary-color !important;
    }
  }
  .dropdown-content {
    width: 9rem !important;
  }
}
